{% extends "base.html" %}

{% block content %}

<h2 class="page-title">
    👥 Customer Management
</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Mobile Number</th>
            <th>Address</th>
        </tr>
    </thead>

    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.mobile }}</td>
            <td>{{ customer.address }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}