{% extends 'base.html' %}

{% block content %}

<div class="cards">

    <div class="card">
        <i class="fas fa-truck"></i>
        <h2>{{ vehicle_count }}</h2>
        <p>Total Vehicles</p>
    </div>

    <div class="card">
        <i class="fas fa-user"></i>
        <h2>{{ driver_count }}</h2>
        <p>Total Drivers</p>
    </div>

    <div class="card">
        <i class="fas fa-users"></i>
        <h2>{{ customer_count }}</h2>
        <p>Total Customers</p>
    </div>

    <div class="card">
        <i class="fas fa-route"></i>
        <h2>{{ trip_count }}</h2>
        <p>Total Trips</p>
    </div>

</div>

<div class="welcome-box">

    <h2>Welcome to Transport Management System 🚚</h2>

    <p>
        Manage Vehicles, Drivers, Customers and Trips
        from one professional dashboard.
    </p>

</div>

{% endblock %}