{% extends 'base.html' %}

{% block content %}

<div class="welcome-box">

    <h2>📊 Reports Dashboard</h2>

    <br>

    <div class="cards">

        <div class="card">
            <i class="fas fa-money-bill-wave"></i>
            <h3>Revenue Report</h3>
        </div>

        <div class="card">
            <i class="fas fa-truck"></i>
            <h3>Vehicle Report</h3>
        </div>

        <div class="card">
            <i class="fas fa-user-tie"></i>
            <h3>Driver Report</h3>
        </div>

        <div class="card">
            <i class="fas fa-route"></i>
            <h3>Trip Report</h3>
        </div>

    </div>

</div>

{% endblock %}