{% extends "base.html" %}

{% block content %}

<h2 class="page-title">
    🚛 Trip Management
</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Amount</th>
        </tr>
    </thead>

    <tbody>
        {% for trip in trips %}
        <tr>
            <td>{{ trip.id }}</td>
            <td>{{ trip.source }}</td>
            <td>{{ trip.destination }}</td>
            <td>₹ {{ trip.amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}