{% extends "base.html" %}

{% block content %}

<h2 class="page-title">
    🚚 Vehicle Management
</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Vehicle Number</th>
            <th>Vehicle Type</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for v in vehicles %}
        <tr>
            <td>{{ v.id }}</td>
            <td>{{ v.vehicle_no }}</td>
            <td>{{ v.vehicle_type }}</td>
            <td>{{ v.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}